:root {
    --padding-large: 50px;
    --padding-medium: 30px;
    --padding-small: 15px;
    --grid-gap-large: 30px;
    --grid-gap-medium: 20px;
    --grid-gap-small: 10px;
    --padding-zone: 20px;
}

body {
    background-color: #688c57;
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-zone);
    border-radius: 20px;
    background-color: #477248;
    box-shadow: 0 4px 8px;
    border: 2px solid #355a35;
    margin-left: var(--padding-large);
    margin-right: var(--padding-large);
}

main section{
    background-color: #c6a477;
    border-radius: 15px;
    border: 2px solid #daf7a6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: var(--padding-large);
    padding: var(--padding-zone);
}

p {
    color: #f7c477;
    padding: var(--padding-zone);
}

h2, h3 {
    color: #f9f0d8;
    padding: var(--padding-zone);
}

h1 {
    color: #f9f0d8;
    padding-left: 300px;
    padding-right: 300px;
}

img {
    width: 100%;
    max-width: 600px;
    min-width: 150px;
    height: auto;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--grid-gap-large);
}

@media (max-width: 1024px) {
    :root {
        --padding-large: var(--padding-medium);
        --grid-gap-large: var(--grid-gap-medium);
    }
}

@media (max-width: 768px) {
    :root {
        --padding-large: var(--padding-small);
        --grid-gap-large: var(--grid-gap-small);
    }
}
