:root {
    --padding-large: 50px;
    --padding-medium: 30px;
    --padding-small: 15px;
    --grid-gap-large: 30px;
    --grid-gap-medium: 20px;
    --grid-gap-small: 10px;
    --padding-zone: 20px;
    --color-background: #1A1A1D;
    --color-background2: #A34343;
    --color-highlight: #AF8BAF;
    --color-border: #3B1C32;
    --color-title: #FBF5E5;
    --color-subtitle: #88304E;
    --color-text: #522546;
}

body {
    background-color: var(--color-background);
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
}
header{
    grid-area: zona1;
    background-image: url('../resurse/imagini/abasi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-title);
    text-align: center;
    padding: var(--padding-large);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: var(--color-background2);
    box-shadow: 0 4px 8px;
    border: 2px solid var(--color-border);
    margin-left: var(--padding-large);
    margin-right: var(--padding-large);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-zone);
    border-radius: 20px;
    background-color: var(--color-highlight);
    box-shadow: 0 4px 8px;
    border: 2px solid var(--color-border);
    margin-left: var(--padding-large);
    margin-right: var(--padding-large);
}

main section{
    background-color: var(--color-highlight);
    border-radius: 15px;
    border: 2px solid var(--color-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: var(--padding-large);
    padding: var(--padding-zone);
}

p {
    color: var(--color-subtitle);
    padding: var(--padding-zone);
}

h2, h3 {
    color: var(--color-text);
    padding: var(--padding-zone);
}

h1 {
    color: var(--color-title);
    padding-left: 300px;
    padding-right: 300px;
}

img {
    width: 100%;
    max-width: 600px;
    min-width: 150px;
    height: auto;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--grid-gap-large);
}

@media (max-width: 1024px) {
    :root {
        --padding-large: var(--padding-medium);
        --grid-gap-large: var(--grid-gap-medium);
    }
}

@media (max-width: 768px) {
    :root {
        --padding-large: var(--padding-small);
        --grid-gap-large: var(--grid-gap-small);
    }
}
