<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head') %>
    <title>404 - Pagină negăsită | Music Master</title>
</head>
<body>
    <%- include('../fragmente/header') %>

    <main>
        <section id="eroare-404">
            <h1>404 - Pagină negăsită</h1>
            <p>Ne pare rău, dar pagina pe care o căutați nu există.</p>
            <p>Puteți încerca să:</p>
            <ul>
                <li>Verificați dacă URL-ul este corect</li>
                <li>Mergeți la <a href="/">pagina principală</a></li>
                <li>Folosiți meniul de navigare pentru a găsi ceea ce căutați</li>
            </ul>
        </section>
    </main>

    <%- include('../fragmente/footer') %>
</body>
</html> 