<meta charset="UTF-8">
<title>Music Master</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="chitara, chitare, chitara acustica, chitara electrica, muzica, instrument de muzica, produse muzica, muzicii, magazin muzica, magazina chitara">
<meta name="description" content="Magazin online de instrumente muzicale">
<meta name="author" content="Nica Octavian-Gabriel">
<link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg" />
<link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest" />

<link rel="stylesheet" type="text/css" href="/resurse/css/general.css" />
<link rel="stylesheet" type="text/css" href="/resurse/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/resurse/css/table.css" />
<link rel="stylesheet" href="/resurse/css/menu.css"> 